{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<noscript>
    <strong>Warning:</strong> Your browser does not support JavaScript. Please enable JavaScript in order to use this application.
</noscript>
<div id="app"></div>
{% block headscripts %}
{% vite_hmr_client %}
{% vite_asset 'theme/src/main.js' %}
{% endblock %}
</body>
</html>