<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<noscript>
    <strong>Warning:</strong> Your browser does not support JavaScript. Please enable JavaScript in order to use this application.
</noscript>
<h1>Dashboard</h1>
<table>
    <tr>
        <th>Host</th>
        <th>Service</th>
        <th>Status</th>
        <th>Last Output</th>
        <th>Last Check</th>
    </tr>
    {% for service in services %}
        <tr>
            <td>{{ service.host.name }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.status }}</td>
            <td>{{ service.last_output }}</td>
            <td>{{ service.last_check }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>